/* Limpieza */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: f3e5d8;

}

.container{
   background-color: #fff;
   max-width: 80%;
   border-radius: 30px;
   margin: 2rem;
}

